.vscode
Binaries
DerivedDataCache
Intermediate
Saved
TapSDK_UE2.code-workspace
Android_*
Build/

.idea

# OS X
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle
XD_PC/Build/

XD_PC/XD_PC.xcworkspace/contents.xcworkspacedata
XD_PC/XD_PC.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
